.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}
.table > tbody > tr.danger > td {
 background-color: #ff4444 !important;
}
.table > tbody > tr.warning > td {
 background-color: #ffbb33 !important;
}
.table > tbody > tr.success > td {
 background-color: #00C851 !important;
}

.table-hover > tbody > tr.danger:hover > td {
 background-color: #CC0000 !important;
}
.table-hover > tbody > tr.warning:hover > td {
 background-color: #FF8800 !important;
}
.table-hover > tbody > tr.success:hover > td {
 background-color: #007E33 !important;
}

.alert-danger {
background-color: #ff4444 !important;
border-color: #CC0000 !important;
color: #191919 !important;
}
.alert-warning {
background-color: #ffbb33 !important;
border-color: #FF8800 !important;
color: #191919 !important;
}
.alert-success {
background-color: #00C851 !important;
border-color: #007E33 !important;
color: #191919 !important;
}
td {
   border: 1px solid #dddddd !important;
   color: black !important;
}
